<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Simeon</string>
	<key>Name</key>
	<string>Cargo Bot</string>
	<key>Link</key>
	<string>TwoLivesLeft.com</string>
	<key>Icon</key>
	<string>Icon</string>
	<key>Retina</key>
	<true/>
</dict>
</plist>
